body{
    background-color: gainsboro;
}
table, th, td {
    border: 1px solid black;
}
h2 {
    text-align: center;
    color: yellow;
}
.error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}
.applicationformdiv{
    display: flex;
    justify-content: start;
}